.main{
	width: 1000px;
	height:540px;
	border: 4px dashed black;
	font-family: sans-serif;
	margin: 20px 20px 10px 10px;
	background-color: red;
	box-shadow: 0px 0px 10px 2px red;
}
.row1{
	width: 1000px;
	height: 100px;
	color: floralwhite;
	font-size: 35px;
	align-content: center;
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	word-spacing: 5px;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-decoration: underline;
	background-color: purple;
}
.row2{
	width: 1000px;
	height: 40px;
	background-color: yellow;
}
.row2c1{
	width: 198px;
	font-family: serif;
	text-align: center;
	align-content: center;
	border: 1px solid salmon;
	height: 38px;
	float: left;
	background-color: yellowgreen;
}
.row3{
	width: 1000px;
	height: 200px;

	background-color: yellow;
}
.row3left{
	width: 248px;
	height: 198px;
	float: left;
	border: 1px solid red;
	background-color: hotpink;
}
.row3right{
	width: 745px;
	height: 200px;
	float: right;

	border-left: 5px solid salmon;
	background-color: pink;
}
.row3rightr{
	width: 250px;
	height: 38px;
	align-content: center;
	text-align: center;
	border: 1px solid beige;
	background-color: plum;

}